.cl-orange {
  color: #ec5242;
}

.cl-black {
  color: #272a31;
}

.cl-gray {
  color: #d3d3d3;
}

.gradient {
  background: linear-gradient(to bottom, #ffffffc0, #ffffff9f);
  z-index: 2;
}

@media only screen and (min-width: 1px) {
  header {
    height: 50px;
  }

  .navbar {
    height: 50px;
  }

  .nav-logo {
    width: 140px;
  }

  .big-tittle {
    font-size: 3.7em;
    font-weight: bold;
    line-height: 1.3;
  }

  .small-text {
    font-size: 1em;
    line-height: 1.5;
  }

  .date {
    font-size: 1.5em;
    font-weight: bold;
  }

  .place {
    font-size: 1.2em;
  }

  .invite-section {
    height: 750px;
  }

  .main-program {
    height: 2350px;
  }

  .card-program {
    height: 410px;
    border: none;
  }

  .card-program img {
    height: 280px;
  }

  .card-program-title {
    font-size: 1.8em;
  }

  .card-program-text {
    font-size: 1em;
  }
}

@media only screen and (min-width: 768px) {
  header {
    height: 120px;
  }

  .navbar {
    height: 120px;
    z-index: 3;
  }

  .nav-logo {
    width: 140px;
  }

  .gradient {
    top: 120px;
  }

  .big-tittle {
    font-size: 6em;
    font-weight: bold;
    line-height: 1.3;
  }

  .small-text {
    font-size: 1.5em;
    max-width: 600px;
    line-height: 1.5;
  }

  .date {
    font-size: 2.5em;
    font-weight: bold;
  }

  .place {
    font-size: 1.5em;
  }

  .invite-section {
    height: 1050px;
  }

  .main-program {
    height: 2700px;
  }

  .card-program {
    height: 480px;
    border: none;
  }

  .card-program img {
    height: 350px;
  }

  .card-program-title {
    font-size: 1.8em;
  }

  .card-program-text {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1024px) {
  .main-program {
    height: 540px;
  }

  .card-program {
    height: 430px;
    border: none;
  }

  .card-program img {
    height: 180px;
  }

  .card-program-title {
    font-size: 1.8em;
  }

  .card-program-text {
    font-size: 1em;
  }
}

/* Navbar Section */

.navbar {
  position: fixed;
}

.top-nav-div {
  height: 30px;
}

.bottom-nav-div {
  height: 90px;
}

.nav-logo {
  height: auto;
}

.nav-list {
  list-style: none;
}

.last-item {
  border: 4px solid #ec5242;
}

.hide-div {
  position: relative;
  left: -180px;
  z-index: 3;
  transition: 0.3s ease-in;
}

.show-div {
  left: 0;
  transition: 0.3s ease-in;
}

.btn i {
  font-size: 2em;
}

/* Invite Section */

.invite-section {
  background-image: url(../images/kiko-background.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.big-tittle {
  font-weight: bold;
}

.date {
  font-weight: bold;
}

/* Main Program Section */

.main-program {
  background-image: url(../images/program-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.main-program a {
  font-size: 1.8em;
}

.main-program a:hover {
  font-size: 1.8em;
  color: #ec5242;
}

/* Partners Section */

.partners {
  height: 300px;
  background-color: #272a31;
}

.partners-list {
  list-style: none;
  padding-inline-start: 0;
}

.partners-list i {
  font-size: 3em;
}

/* Footer Section */

.foot {
  height: 100px;
}

.foot img {
  width: 120px;
}

/* Tickets Page - Price Section */

.prices {
  background-color: #d3d3d3;
}
